.h5-avatar {
  padding: 0 5px;
  .avatar-left {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    .h5-avatar-img {
      width: 40px;
      height: 40px;
      background-color: #ccc;
      float: left;
    }
    .h5-avatar-content {
      padding-left: 10px;
      float: left;
      .h5-avatar-name {
        display: block;
        font-size: 12px;
        color: grey;
        margin-bottom: 8px;
      }
      .dialog {
        max-width: 300px;
        background-color: #fff;
        border-radius: 4px;
        position: relative;
        padding: 6px 10px;
        border: 1px solid #eee;
        word-break: break-all;
        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border-top: 4px solid transparent;
          border-right: 4px solid #fff;
          border-left: 4px solid transparent;
          border-bottom: 4px solid transparent;
          left: -8px;
          top: 5px
        }
      }
    }
  }
  .avatar-right {
    overflow: hidden;
    .h5-avatar-img {
      width: 40px;
      height: 40px;
      background-color: #ccc;
      float: right;
      img {
      }
    }
    .h5-avatar-content {
      float: right;
      padding-right: 10px;
      .h5-avatar-name {
        display: block;
        font-size: 12px;
        color: grey;
        margin-bottom: 8px;
        text-align: right;
      }
      .dialog {
        max-width: 300px;
        background-color: #fff;
        border-radius: 4px;
        position: relative;
        padding: 6px 10px;
        border: 1px solid #eee;
        word-break: break-all;
        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border-top: 4px solid transparent;
          border-right: 4px solid transparent;
          border-left: 4px solid #fff;
          border-bottom: 4px solid transparent;
          right: -8px;
          top: 5px
        }
      }
    }
  }
}