.spin {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  .spin-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    text-align: center;
    img {
      width: 40px;
      height: 40px;
    }
    p {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}