.articalPage {
  background-color: #dee3e7;
  .articalPage-main {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    .articalPage-content {
      margin: 0 auto;
      background: #fff;
      .articalPage-content-banner {
        width: 100%;
        height: 400px;
        background-color: burlywood;
        position: relative;
        .articalPage-content-banner_title {
          position: absolute;
          left: 5em;
          top: 5em;
          h1 {
            margin-bottom: 0.5em;
            color: #fff;
            font-size: 2em;
          }
          h3 {
            // width: 50%;
            color: #fff;
            opacity: 0.8;
          }
        }
      }
      .articalPage-content-text {
        padding: 5em 8em;
        font-size: 16px;
        line-height: 1.8em;
      }
    }
  }
}