.blogItemPage {
  width: 300px;
  padding: 5px;
  float: left;
  box-sizing: border-box;
  transition: all 0.5s;
  animation: fadeInLeft 0.5 ease;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 10px 10px -5px rgba(0,0,0,.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  .blogItemPage-main {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    .blogItemPage_img_box {
      max-height: 400px;
      .blogItemPage_img {
        width: 100%;
        height: 100%;
        height: 200px;
        // max-height: 400px; 
      }
    }
    .blogItemPage-desc {
      h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
      }
      p {
        padding: 5px 10px;
        line-height: 1.4;
        font-size: 13px;
        color: #888;
        text-indent: 2em;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
      }
    }
    .blogItemPage-tag {
     border-top: 1px solid #e8e8e8;
     background-color: #fbfbfb;
     padding: 5px 10px 0;
     overflow: hidden;
     .blogItemPage-tag_comment {
       float: right;
       background: url("./../images/comment.png") no-repeat center center;
       background-size: 18px;
       width: 20px;
       height: 20px;
     }
     .blogItemPage-tag_see {
      float: right;
      background: url("./../images/see.png") no-repeat center center;
      background-size: 20px;
      width: 20px;
      height: 20px;
      margin-right: 15px;
     }
     .blogItem-tag_time {
       float: left;
       background: url("./../images/time.png") no-repeat left center;
       background-size: 18px;
      //  width: 120px;
       height: 20px;
       line-height: 20px;
       padding-left: 20px;
       color: #888;
       font-size: 12px;
     }
    }
  }
}

.tabs-wrap-enter {
  opacity: 0.01;
}
 
.tabs-wrap-enter.tabs-wrap-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}
 
.tabs-wrap-leave {
  opacity: 1; 
}
 
.tabs-wrap-leave.tabs-wrap-leave-active {  
  opacity: 0.01;
  transition: all 500ms ease-in;
}