.blogPage {
  width: 100%;
  height: 100%;
  position: relative;

  .blogPage-main {
    height: auto;
    min-height: 600px;
    overflow: initial;

    .blogPage-main-content {
      min-height: 600px;
      position: relative;

      .blogPage-banner {
        width: 100%;
        // height: 420px;
        background: url("./../images/banner.jpg") no-repeat bottom center;
        background-size: cover;

        .blogPage-banner-text {
          padding-top: 50px;
          padding-bottom: 50px;
          .blogPage-banner_big {
            font-family: FedraSans;
            font-weight: 700;
            line-height: 1;
            font-variant-alternates: stylistic(1);
            font-size: 3em;
            color: #fff;
            padding: 20px 20px 0;
          }

          .blogPage-banner_small {
            font-family: Apercu;
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.8);
            padding: 20px 20px 0;
          }
        }
      }
      .blogPage-content {
        width: 100%;
        padding-bottom: 20px;
        background-color: #dee3e7;
      }
    }
  }
}