@media screen and (min-width: 1550px) {
  .grid-row {
    width: 1550px;
    margin: 0 auto;
  }
  .grid-box {
    width: 100%;
  }
  .headerPage {
    display: block;
  }
  .nav-mask {
    display: none !important;
  }
  .messagePage {
    width: 800px;
  }
  .github {
    width: 360px;
  }
}
@media screen and (max-width: 1550px) {
  .grid-row {
    width: 1200px;
    margin: 0 auto;
  }
  .grid-box {
    width: 100%;
  }
  .headerPage {
    display: block;
  }
  .nav-mask {
    display: none !important;
  }
  .messagePage {
    width: 800px;
  }
  .github {
    width: 360px;
  }
}

@media screen and (max-width: 1250px) {
  .grid-row {
    width: 900px;
    margin: 0 auto;
  }
  .headerPage {
    display: block;
  }
  .nav-mask {
    display: none !important;
  }
  .messagePage {
    width: 100%;
  }
  .github {
    width: 100%;
  }
  .commentPage-content-l,.commentPage-content-r {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .grid-row {
    width: 600px;
    margin: 0 auto;
  }
  .headerPage {
    display: block;
  }
  .nav-mask {
    display: none !important;
  }
  .messagePage {
    width: 100%;
  }
  .github {
    width: 100%;
  }
  .commentPage-content-l,.commentPage-content-r {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .grid-row {
    width: 100%;
  }
  .grid-box {
    width: 100%;
  }
  .nav-mask {
    display: block !important;
  }
  .headerPage {
    display: none;
  }
  .messagePage {
    width: 100%;
  }
  .github {
    width: 100%;
  }
  .commentPage-content-l,.commentPage-content-r {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .grid-box {
    width: 300px;
  }
}
